.weather-header {
  background: linear-gradient(to right, #87CEFA, #031d58);
}

#form-heading {
  font-size: 1.4rem;
  font-weight: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

#today {
  background-color: white;
}

#forecast {
  background-color: white;
}

.show-border {
  border: 2px solid black;
}


#today {
  padding: 10px;
}

.show-border {
  border: 2px solid black;
}

.container {
  display: flex;
}

/* CSS for search container */
.search-container {
  float: left;
  width: calc(100% - 120px);
  margin-right: 10px;
}

/* CSS for search button */
.search-button {
  background-color: #4b6cb7;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  box-sizing: border-box;
  width: 57%;
  margin-top: 10px;
}

/* Hover effect */
.search-button:hover {
  background-color: #3c5da6;
}

#current-data {
  padding: 10px;
}

#current-data {
  padding: 10px;
}

#current-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#current-header h1 {
  margin-right: 10px;
}

#weather-icon {
  width: 50px;
  height: 50px;
}

#current-details p {
  margin: 5px 0;
}



#forecast-title {
  display: none;
}

/* CSS for forecast cards */
#forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

#forecast .card {
  flex: 0 0 calc(20% - 20px);
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  padding: 5px;
  margin: 5px 0;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #313d5b;
  color: white;
}


#forecast .card img {
  width: 50px;
  height: 50px;
}

#forecast .card p.date {
  font-weight: bold;
}


.search-button {
  background-color: #4b6cb7;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  box-sizing: border-box;
}

/* Hover effect */
.search-button:hover {
  background-color: #3c5da6;
}

/* CSS for the separator above the search history list */
.separator {
  width: 57%;
  border-top: 1px solid #7a7272;
  margin-top: 10px;
}

/* CSS for search history */
.list-group {
  margin-top: 10px;
}

.list-group button {
  background-color: #acaaaa;
  width: 57%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Hover effect for search history */
.list-group button:hover {
  background-color: #f0f0f0;
}
